@charset "UTF-8";
//===== Scaffolding ==============================

$body-width-min: 1100px !default;

$header-height: 100px !default;
$footer-height: 200px !default;

// bootstrap 默认响应式断点：768, 992, 1200
// 要修改的话，在变量设置的 276 行（Media queries breakpoints）

// bootstrap 的响应式设计很难完全抹除，
//  如果要完全取消响应式行为，可以把 Media queries breakpoints 分别修改为 1px, 2px, 3px(为了调试方便加以区分)（因为源码使用的是 min-width）
//  按照覆盖的规则，实际上媒体查询就只剩 lg 下的起效了。
//  另外 .container 有左右padding，会被嵌套其中的 .row 的负margin 抵消，注意使用 .row 即可。
//  按照需求固定 .container 的宽度：
//    注意 .container 的宽度不可大于body的最小宽度，否则会溢出，这里指定相同宽度
$container-width: $body-width-min;
//这种做法与我平时实现的 .container > .content 通栏设计有（类名）冲突，
// 如果需要通栏设计，则另外在.container外包裹一层吧。
// bootstrap 提供的组件中，导航栏是带有通栏设计的，用 .navbar > .container 的结构，.navbar有底色

//===== Colors ==================================

$color-primary: #002145 !default;

$color-separator-light: #D7E0E7 !default;

$color-dark: darken($color-primary, 20%) !default;
$color-light: #0680A6 !default;
