@charset "UTF-8";
@import "setting/variables";
@import "compass";

//*==================== fonts ==========================
@font-face {
  font-family: 'robotoregular';
  src: url('../font/roboto-regular/roboto-regular-webfont.eot');
  src: url('../font/roboto-regular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/roboto-regular/roboto-regular-webfont.woff2') format('woff2'),
  url('../font/roboto-regular/roboto-regular-webfont.woff') format('woff'),
  url('../font/roboto-regular/roboto-regular-webfont.ttf') format('truetype'),
  url('../font/roboto-regular/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

//*==================== basic layout ==========================

html, body {
  min-height: 100%;
  background-color: #fff;
  font-size: 14px;
  font-family: "robotoregular", "Microsoft YaHei", "Microsoft YaHei UI", "微软雅黑", "Times New Roman", sans-serif;

  @media (max-width: $mobile-breakpoint) {
    font-size: 12px;
  }
}

body {
  //方便某些 body 下的直接子元素定位
  position: relative;

  //当设计：body 最小宽度 == .container 宽度 时，
  //  body会被 .container 撑开宽度，所以无需设置 min-width
  //
  //当设计：body 最小宽度 ＞ .container 宽度 时，
  //  body 的 min-width 就要给出，而且还要考虑响应式的情况。
  //  其实这样设计没什么必要，就让它们相等就好了嘛。
  //
  //min-width: $body-width-min;
  //-------------------------------------------------

  //一般来说，当 客户端窗口宽度 ＜ 设计的页面主宽度 时，
  //  会保留横向滚动条，使得所有内容可访问，因此不使用 overflow-x: hidden;
  //
  //而当 客户端窗口宽度 ＞ 设计的页面主宽度 时，
  //  为了隐藏如通栏banner模块右侧超出的部分，把
  @media (min-width: $body-width-min) {
    overflow-x: hidden;
  }
  //若启用移动端响应式，当 客户端窗口宽度 ＜ 移动端断点 时，
  //  所有容器宽度采用 100%，一般情况下不用关心是否需要隐藏溢出的问题。
  //  不过为了以防某些板块，如 banner 会使用到左右的负 margin 强制变宽这种行为，
  // (todo 这种做法可用于PC端浏览器，但是移动端浏览器还是会溢出，解决方法是： 使用了 overflow hidden 的 banner container -> 使用了左右负margin的图片wrapper -> 图片)
  //  这里也为 body 加上防溢出。
  @media (max-width: $mobile-breakpoint) {
    overflow-x: hidden;
  }
  //总结：
  //  上面的设计分成了3种情景，2个断点：
  //  示意图如下：
  //
  //           ||←-----------防溢出-------------→|←--滚动可视--→|←---防溢出----→||
  //           ||———————————————————————————————|—————————————|——————————————||
  //   直到无限宽↑                PC端body最小宽度↑             ↑移动端断点      ↑宽度为0的地方
  //
  //-------------------------------------------------
}

//此处覆盖 bootstrap 的容器宽度设定
.container {
  //正常情况下把容器固定为设定的宽度
  width: $container-width !important;

  //若启用移动端响应式，则显示覆盖最大宽度为 100%
  @media (max-width: $mobile-breakpoint) {
    max-width: 100%;
  }
}

.row {
  //使子元素的定位相对于 .row
  position: relative;
}

/*============================ common element styles =======================*/
a {
  @include unstyled-link;
  color: $color-primary;
  transition: all .3s;

  &:hover {
    @include unstyled-link;
    color: $color-primary-dark;
    transition: all .3s;
    cursor: pointer;
  }
}
