/*================== alert =======================*/
.alert {
  box-sizing: border-box;
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  color: #444;
  background-color: #f2f2f2;
}

.alert.alert-proper-margin {
  margin: 8px;
}

.alert p {
  margin: 0;
}

.alert > p:not(:last-child) {
  margin-bottom: 5px;
}

.alert.alert-condensed {
  margin-bottom: 10px;
  padding: 10px;
}

.alert.alert-condensed > p:not(:last-child) {
  margin-bottom: 3px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6
}

.alert-success .alert-link {
  color: #2b542c
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1
}

.alert-info .alert-link {
  color: #245269
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc
}

.alert-warning .alert-link {
  color: #66512c
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1
}

.alert-danger .alert-link {
  color: #843534
}