@charset "UTF-8";
/*================== button =======================*/
.btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 5px 12px;
  outline: 0 none;
  text-align: center;
  text-indent: 0;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  font-family: inherit;
  border: 1px solid #ccc;
  color: #333;
  background-color: white;
  cursor: pointer;
  transition: all .25s;
}

.btn:focus,
.btn:hover {
  color: #333;
  border-color: #8c8c8c;
  transition: all .25s;
}

/*----------- style ----------*/
.btn-rounded {
  border-radius: 4px;
}

.btn-dotted {
  border-style: dotted;
}

.btn-dashed {
  border-style: dashed;
}

/*----------- size -----------*/
.btn-lg {
  padding: 7px 16px;
  font-size: 18px;
}

.btn-lg.btn-rounded {
  border-radius: 6px;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
}

.btn-sm.btn-rounded {
  border-radius: 3px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
}

.btn-xs.btn-rounded {
  border-radius: 3px;
}

/*----------- color -----------*/
.btn-default:focus,
.btn-default:hover {
  border-color: #8c8c8c;
  background-color: #e6e6e6;
}

.btn-inverse:focus,
.btn-inverse:hover {
  color: #fefefe;
  background-color: #444;
  border-color: #555;
}

.btn-red {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-red:focus,
.btn-red:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-yellow {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-yellow:focus,
.btn-yellow:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

.btn-blue {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-blue:focus,
.btn-blue:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-green {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-green:focus,
.btn-green:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-purple {
  color: #fff;
  background-color: #9d75e6;
  border-color: #9168de;
}

.btn-purple:focus,
.btn-purple:hover {
  color: #fff;
  background-color: #8c63d7;
  border-color: #7e5ac1;
}
